/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

#define FUNC 1
#define BOT bootloader

/ {
    input_processors {

        zip_temp_layer: zip_temp_layer {
            compatible = "zmk,input-processor-temp-layer";
            #input-processor-cells = <2>;
        };

        ip_behaviors0: ip_behaviors0 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_0>;
            bindings = <&kp RIGHT>;
        };
        ip_behaviors1: ip_behaviors1 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_1>;
            bindings = <&kp LEFT>;
        };
        ip_behaviors2: ip_behaviors2 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_2>;
            bindings = <&kp DOWN>;
        };
        ip_behaviors3: ip_behaviors3 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_3>;
            bindings = <&kp UP>;
        };
    };
};

/ {
    behaviors {
        wxmod: tap_dance_wxmod {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&totapwxinputbar>, <&totapwxinsentmsg>;
        };
    };

    behaviors {
        qqmod: tap_dance_qqmod {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&totapqqinputbar>, <&totapqqsentmsg>;
        };
    };

    behaviors {
         sp_sc: behavior_spacescroll {
           compatible = "zmk,behavior-hold-tap";
           #binding-cells = <2>;
           flavor = "tap-preferred";     /* 单击优先 */
           tapping-term-ms = <200>;       /* 长按阈值 */
           bindings = <&none &kp>;        /* hold=none, tap=space */
        };
    };

    macros {
        //上滑关闭app
        tocloseapp: zed_em_closeapp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp R>,<&macro_release &kp F4>;
        }; 
        //返回桌面
        gohome: zed_em_gohome {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>,<&macro_tap &kp H>,<&macro_release &kp LGUI>;
        };
        //手机解锁
        loginpwd: macros_loginpwd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp ENTER &kp SPACE &kp N0 &kp N9 &kp N1 &kp N1 &kp ENTER>;
        };
        //向上滑动
        toscrollup: zed_em_toscrollup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>,<&macro_tap &kp F3>,<&macro_release &kp LCTRL>;
        };
        //向下滑动
        toscrolldown: zed_em_toscrolldown {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F4>,<&macro_tap &kp SPACE>,<&macro_release &kp F4>;
        };
        //向左滑动
        toscrollleft: zed_em_toscrollleft {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F1>,<&macro_tap &kp SPACE>,<&macro_release &kp F1>;
        };
        //向右滑动
        toscrollright: zed_em_toscrollright {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F2>,<&macro_tap &kp SPACE>,<&macro_release &kp F2>;
        };
        //点击第一栏
        totapfirst: zed_em_totapfirst {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F8>,<&macro_tap &kp SPACE>,<&macro_release &kp F8>;
        };
        //点击第二栏
        totapsecond: zed_em_totapsecond {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F10>,<&macro_tap &kp SPACE>,<&macro_release &kp F10>;
        };
        //点击第三栏
        totapthird: zed_em_totapthird {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F9>,<&macro_tap &kp SPACE>,<&macro_release &kp F9>;
        };
        //点击第四栏
        totapforth: zed_em_totapforth {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F11>,<&macro_tap &kp SPACE>,<&macro_release &kp F11>;
        };
        //点击中间栏
        totapmiddle: zed_em_totapmiddle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>,<&macro_tap &kp N3>,<&macro_release &kp LGUI>;
        };
        //读微信最新的信息
        toreadwxmsg: zed_em_toreadwxmsg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F5>,<&macro_tap &kp SPACE>,<&macro_release &kp F5>;
        };
        //读微信群更多的信息
        toreadmorewxmsg: zed_em_toreadmorewxmsg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F6>,<&macro_tap &kp SPACE>,<&macro_release &kp F6>;
        };
        //下拉控制栏
        torolltoolpanel: zed_em_torolltoolpanel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp F7>,<&macro_tap &kp SPACE>,<&macro_release &kp F7>;
        };
        //下拉通知栏
        torollmsgpanel: zed_em_torollmsgpanel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>,<&macro_tap &kp N>,<&macro_release &kp LGUI>;
        };
        //点击微信文字输入框
        totapwxinputbar: zed_em_totapwxinputbar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>,<&macro_tap &kp ENTER>,<&macro_release &kp LGUI>;
        };
        //点击微信文字发送
        totapwxinsentmsg: zed_em_totapwxinsentmsg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>,<&macro_tap &kp RSHFT>,<&macro_release &kp LGUI>;
        };
        //点击QQ文字输入框
        totapqqinputbar: zed_em_totapqqinputbar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>,<&macro_tap &kp BSPC>,<&macro_release &kp LGUI>;
        };
        //点击QQ文字发送
        totapqqsentmsg: zed_em_totapqqsentmsg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI>,<&macro_tap &kp LSHFT>,<&macro_release &kp LGUI>;
        };
        //切换设备0
        tobt0: zed_em_tobt0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <80>;
            tap-ms = <200>;
            bindings = <&macro_tap &bt BT_SEL 0>,<&macro_tap &kp SPACE &kp SPACE &kp N0 &kp N9 &kp N1 &kp N1 &kp ENTER>;
        };
};

    keymap {
        compatible = "zmk,keymap";

         default_layer {
            display-name = "QWERTY";
           bindings = <
&kp GRAVE   &kp N1   &kp N2     &kp N3     &kp N4          &kp N5          &tobt0                                &bt BT_SEL 1                    &kp N6             &kp N7      &kp N8     &kp N9    &kp N0     &kp ESC
&kp CAPS    &kp Q    &kp W      &kp E      &kp R           &kp T                                                                                 &kp Y              &kp U       &kp I      &kp O     &kp P      &kp DEL
&kp TAB     &kp A    &kp S      &kp D      &kp F           &kp G           &mkp LCLK                             &mkp LCLK                       &kp H              &kp J       &kp K      &kp L     &kp SEMI   &kp SQT
&kp LSHFT   &kp Z    &kp X      &kp C      &kp V           &kp B           &wxmod       &qqmod                   &none           &mkp RCLK       &kp N              &kp M       &kp COMMA  &kp DOT   &kp FSLH   &kp RSHFT
                                &kp LCTRL  &kp LALT        &kp ENTER       &kp SPACE    &mo 1                    &mo 1           &kp SPACE       &kp BSPC           &kp LGUI    &kp RCTRL
           >; 
           sensor-bindings = <&inc_dec_kp K_VOL_DN K_VOL_UP &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
&trans        &kp F1        &kp F2     &kp F3     &kp F4          &kp F5           &BOT                           &BOT                            &kp F6     &kp F7       &kp F8     &kp LBKT  &kp RBKT    &kp MINUS
&kp CAPS      &kp LA(F4)    &kp LC(W)  &trans     &kp LC(R)       &kp LC(T)                                                                       &none      &trans       &trans     &trans    &trans      &kp EQUAL
&kp TAB       &kp LC(A)     &trans     &trans     &trans          &trans           &mkp LCLK                      &mkp LCLK                       &trans     &trans       &trans     &trans    &trans      &kp BACKSLASH
&kp LSHFT     &kp LC(Z)     &kp LC(X)  &kp LC(C)  &kp LC(V)       &trans           &wxmod       &qqmod            &none           &mkp RCLK       &trans     &kp LC(M)    &trans     &trans    &trans      &kp RSHFT
                                       &trans     &trans          &trans           &kp K_BACK   &mo 1             &mo 1           &kp K_BACK      &trans     &trans       &trans
            >;
        };
        raise_layer {
            display-name = "RAISE";
            bindings = <
&trans        &kp F1        &kp F2     &kp F3     &kp F4          &kp F5           &BOT                           &BOT                            &kp F6     &kp F7       &kp F8     &kp LBKT  &kp RBKT    &kp MINUS
&kp CAPS      &kp LA(F4)    &kp LC(W)  &trans     &kp LC(R)       &kp LC(T)                                                                       &none      &trans       &trans     &trans    &trans      &kp EQUAL
&kp TAB       &kp LC(A)     &trans     &trans     &trans          &trans           &mkp LCLK                      &mkp LCLK                       &trans     &trans       &trans     &trans    &trans      &kp BACKSLASH
&kp LSHFT     &kp LC(Z)     &kp LC(X)  &kp LC(C)  &kp LC(V)       &trans           &wxmod       &qqmod            &none           &mkp RCLK       &trans     &kp LC(M)    &trans     &trans    &trans      &kp RSHFT
                                       &trans     &trans          &trans           &kp K_BACK   &mo 1             &mo 1           &kp K_BACK      &trans     &trans       &trans
            >;
        };
        MOUSE_layer {
            display-name = "MOUSE";
            bindings = <
&kp LG(X)         &kp LG(S)       &kp LG(T)         &kp LG(R)      &kp LG(Z)        &kp LG(A)      &tobt0                  &bt BT_SEL 1                      &totapfirst        &totapsecond        &totapmiddle      &totapthird        &totapforth     &trans
&kp CAPS          &kp LA(F4)      &kp LC(W)         &kp LG(E)      &kp LC(R)        &kp LC(T)                                                                &mkp LCLK          &toreadwxmsg        &toscrollleft     &torolltoolpanel   &trans          &trans
&kp LA(LEFT)      &kp LC(A)       &trans            &kp LG(D)      &trans           &trans         &mkp LCLK               &mkp LCLK                         &kp K_BACK         &toreadmorewxmsg    &toscrollright    &torollmsgpanel    &trans          &trans
&kp LA(RIGHT)     &kp LC(Z)       &kp LC(X)         &kp LC(C)      &kp LC(V)        &trans         &wxmod      &qqmod      &none          &mkp RCLK          &kp ESC            &tocloseapp         &gohome           &trans             &trans          &trans
                                                    &trans         &trans           &trans         &trans      &mkp LCLK   &toscrollup    &toscrolldown      &trans             &trans              &trans
            >;
        };
    };
};
